<header>
    <div class="color-top">
        <div class="container d-flex">
            <div class="copy-header"><MARQUEE SCROLLDELAY =200>6 cuotas sin interes - Envios gratis a partir de $5000</MARQUEE></div>
            <nav>
                <ul>
                    <li><a href="#">Ayuda </a></li>
                    <li>|</li>
                    <li><a href="/login"> Iniciar Sesión </a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header-top-bar">
        <!--<div class="burguer-menu"><i class="fa fa-bars burguer"></i></div> borrar-->
        <nav role="navigation">
            <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="/"><li><img src="/images/logo-weByte.png" alt="" style="width: 55px; text-align: left;"></li></a>
                <a href="/product"><li>Hombres</li></a>
                <a href="/product"><li>Mujeres</li></a>
                <a href="/product"><li>Niños</li></a>
            </ul>
            </div>
        </nav>
            <!-- /burguer-->

        <div class="header-logo"><a href="/"><img src="/images/logo-weByte.png" alt="" class="logo"></a></div>
    <nav class="main-navbar">
        <ul>
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="/register"><i class="fas fa-user"></i></a></li>
            <li><a href="/carrito"><i class="fas fa-shopping-bag"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="header-top-bar-desktop">
        <div class="container d-flex">
            <div class="header-logo-desk">
                <a href="/">
                    <img src="/images/logo-weByte.png" alt="" class="logo">
                </a>
            </div>
            <nav class="main-navbar-left">
                <ul>
                    <li><a href="/product">Hombres</a></li>
                    <li>|</li>
                    <li><a href="/product">Mujeres</a></li>
                    <li>|</li>
                    <li><a href="/product">Niños</a></li>
                    <li>|</li>
                </ul>
            </nav>
            <nav class="main-navbar">
                <ul>
                    <li><a href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="/register"><i class="fas fa-user"></i></a></li>
                    <li><a href="/carrito"><i class="fas fa-shopping-bag"></i></a></li>
                    </ul>
            </nav>
        </div>
    </div>
</header>