* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #222222;
}

a:hover {
    text-decoration: none;
    color: #e4ff49;
}

header {
    background-color: #ffffff;
    display: block;
}

.copy-header {
    font-size: 10px;
    color: #e4ff49;
    display: block;
    width: 35vw;
}

.header-top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    border-bottom: 1px solid #d6d6d6;
    padding: 0 20px;
    align-items: center;
    height: 50px;
}

.burguer-menu {
    color: #000000;
    display: block;
    max-width: 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    padding-right: 25px;
    flex: 1 1 auto;
}

.header-logo {
    flex: 8 1 auto;
    margin: auto;
    display: block;
    text-align: center;
}

.header-logo-desk {
    text-align: left;
    padding-top: 3px;
    width: 250px
}

.logo {
    width: 25vW;
}

.logo-xs {
    width: 105px;
}

.header-top-bar nav {
    font-weight: 400;
    text-align: right;
    display: block;
    flex: 1 1 auto;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.main-navbar ul a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 0 10px;
    font-size: 17px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-navbar ul a:hover {
    text-decoration: none;
    color: #e4ff49;
}

.header-top-bar-desktop {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: auto;
    border-bottom: 1px solid #d6d6d6;
    padding: 0 20px;
    align-items: center;
    height: 50px;
}

.header-top-bar-desktop nav {
    font-weight: 400;
    text-align: left;
    flex: 2 1 auto;
}

.main-navbar-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-navbar-left ul a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 0 10px;
    font-size: 17px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-navbar-left ul a:hover {
    text-decoration: none;
    color: #e4ff49;
}

.color-top {
    background-color: #363739;
    width: 100%;
    border-bottom: 4px #e4ff49 solid;
    color: white;
    align-items: center;
    padding: 0 15px;
}

.color-top .container {
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
}

.color-top a {
    color: #ffffff;
    white-space: nowrap
}

.color-top nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.color-top nav ul a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 0 5px;
    font-size: 11px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.color-top nav ul a:hover {
    text-decoration: none;
    color: #e4ff49;
}

footer {
    background-color: #f2f2f2;
    display: block;
    width: 100%;
    position: relative;
    padding: 63px 0 0px;
}

footer section .lgrey {
    padding-bottom: 40px;
    position: relative;
}

.color-bottom {
    background-color: #363739;
    width: 100%;
    margin: auto;
    color: #ffffff;
    font-size: 12px;
    padding: 22px 0;
}

.color-bottom .d-flex {
    justify-content: space-between;
    flex-direction: column;
}

footer p {
    color: #cbcaca;
    font-size: 9px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.ico-contactenos {
    width: 59px;
    height: 60px;
    position: absolute;
    top: -95px;
    right: 15px;
}

.main-navbar-bottom ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-navbar-bottom ul a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 0 8px;
    font-size: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-navbar-bottom ul li:first-of-type a {
    padding-left: 0;
}

.main-navbar-bottom ul a:hover {
    text-decoration: none;
    color: #e4ff49;
}

.main-navbar-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
    padding-right: 0px;
}

.main-navbar-social .ico-network {
    font-size: 25px;
    display: block;
    margin-left: 24px;
}

.main-navbar-social ul a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-navbar-social ul a:hover {
    text-decoration: none;
    color: #e4ff49;
}


/* cc burguer */

#menuToggle {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #7f7f7f;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #000000;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/*  into a crossmark */

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000000;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.1, 0.1);
}


/*
 * Ohyeah and the last one should go the other direction
 */

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 250px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 16px;
    text-align: left;
}

#menuToggle input:checked~ul {
    transform: none;
}


/* end burguer*/

/* resgister */

input{
    width: 100%;
      background: #ffffff;
      border: 1px solid #222222;
      font-size: 10pt;
      color: #262626;
      padding: 0px 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
        
        -webkit-transition: background .55s ease;
      -moz-transition: background .55s ease;
      -ms-transition: background .55s ease;
      -o-transition: background .55s ease;
      transition: background .55s ease;
    }
  input:focus{ outline: none;}
  
    .p40 {padding-top: 41px;}
    .fr_text{display: block; width: 100%; font-family: 'Roboto Condensed', sans-serif; font-size: 1em; padding: 0px 0px; }
    .fr_text a{text-decoration: none; color: #ff0000;}
    .fr_text a:hover {color: #ff0000;}
      
    .fr_nombre input, .fr_email input,  .fr_calle input,  .fr_fechaNac input,  .fr_password1 input, .fr_password2 input {
          width: 98%;
          margin: 0px 0px 5px 0px;
          padding: 0px 10px;
          height: 35px;
      }
      .fr_checkbox {
          display: block;
          width: 100%;
          font-size: 11px;
      }
  
      .google-logo {
          width: 240px;
          height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 7px 0px 0px 15px;
          background-image: url("/images/google.png");
          background-repeat: no-repeat;
          background-position: 95%;;
          border: 1px solid #000;
      }
      .facebook-logo {
          width: 240px;
          height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 7px 0px 0px 15px;
          background-image: url("/images/facebook.png");
          background-repeat: no-repeat;
          background-position: 95%;;
          border: 1px solid #000;
          margin-top: 10px;
      }
      .google-logo a, .facebook-logo a {color: #000; text-decoration: none; text-transform: uppercase; display: block;}
      .google-logo a:hover, .facebook-logo a:hover {color: #ff0000; text-decoration: none;}
  
      .fr-destacado{font-family: 'Roboto Condensed', sans-serif; font-size: 0.85em; color: #222222;}
      .m-left20 {margin-left: 20px;}
      .fr_lbltexto{font-family: 'Roboto Condensed', sans-serif; font-size: 1em; color: #222222; text-transform: uppercase; padding-top: 15px; font-weight: 600;}
      .fr_lbltexto2{font-family: 'Roboto Condensed', sans-serif; font-size: 1em; color: #222222; text-transform: uppercase; padding-top: 15px; font-weight: 600; white-space: nowrap; text-align: left;}
      .fr_lbltexto-xs {font-family: 'Open Sans', sans-serif; font-size: 10px; color: #222222; }
      .fr_lbltexto-xs a {color: #000; text-decoration: none;}
      .fr_lbltexto-xs a:hover {color: #ff0000;}
  
      .p10 {padding: 10px;}
      
   
  
      .fr_registro button {bottom: 50px; left: 0px; background-color: #000; color: #ebebeb; justify-content: center;}
  
      .acc-ng{font-family: 'Roboto Condensed', sans-serif; text-align: left; background-color: #000; color: #ffffff; width: 100%; font-size: 20px; text-transform: uppercase;}
      
      .block {display: inline-block; width: 100%;}
      .doble-boton {display: flex; justify-content: space-between; width: 98%;}
      .boton-left, .boton-rigt{flex: 1 1 50%; align-items: center;}
      
      .register div.pd_prod-rigt3 h2 {
          text-align: left;
      }
  /* entrega */
  
  div.formEnvios{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: left;
  }
  .formEnvios div.form{
    flex: 1 1 auto;
    width: 50%;
    padding-top: 5px;
    padding-right: 5px;
  }
  
  input[type=radio]{
    width: 25%;
    padding: 12px 0px;
    margin: 12px 0px;
  }
  input[type=checkbox]{
    width: 5%;
    padding: 12px 0px;
    margin: 3px 0px;
  }
  div.fr_radio{
    padding-left: 4%;
  }
  div.fr_radio img{
    width: 5%;
  }

/* end resgister */

/* Estilos Responsive */

@media (max-width: 767px) {
    .header-top-bar-desktop {
        display: none;
    }
}


/* XS -- Celulares */

@media screen and (min-width: 0px) {
    .logo-footer {
        margin-bottom: 20px;
    }
    .logo {
        width: 25vW;
    }
    .pd_prod-rigt3 .pd_tit-categoria {font-size: 26px;}
    .fr_registro-rigt{display: block;}
}


/* SM -- tablets */

@media screen and (min-width: 361px) {
    .logo {
        width: 20vW;
    }
    .copy-header {
        width: 45vw;
    }
    .color-bottom .d-flex {
        justify-content: flex-start;
        flex-direction: column;
    }
    footer p {
        margin: 5px 0;
    }
}


/* MD -- Laptops */

@media (min-width: 768px) {
    .header-top-bar {
        display: none;
    }
    .header-top-bar-desktop .d-flex {
        align-items: center;
    }
    .copy-header {
        width: 60vw;
    }
    .color-bottom .d-flex {
        flex-direction: row;
    }
    .logo-footer {
        display: inline-block;
    }
    .main-navbar-bottom {
        display: inline-block;
        margin-left: 20px;
    }
    .register .pd_prod-rigt3 {
        margin: 35px 0 35px 0px;
        padding-top: 10px;
    }
    .fr_registro-left, .fr_registro-rigt{flex: 1 1 100%; align-items: center;}

}

@media (max-width: 991px) {
    .register .pd_prod-rigt3 {
        margin: 35px 0 35px 25px;
    }
  }

/* LG -- Computadoras */

@media (min-width: 1200px) {
    .header-top-bar {
        display: none;
    }
    .header-top-bar-desktop .container {
        justify-content: space-between;
        align-items: center;
    }
    .header-top-bar,
    .main-navbar-bottom,
    .main-navbar-social,
    .header-top-bar-desktop,
    main {
        margin: auto;
    }
    .copy-header {
        width: 60vw;
    }
    .burguer-menu {
        display: none;
    }
    .logo {
        width: 200px;
        position: relative;
        left: 0;
    }
    .main-header-top-bar {
        align-items: center;
    }
    .main-navbar-bottom ul a {
        text-decoration: none;
        color: #222222;
        display: inline-block;
        padding: 0 8px;
        font-size: 12px;
    }
    .main-navbar-bottom ul li:first-of-type a {
        padding-left: 0;
    }
    .color-bottom .d-flex {
        flex-direction: row;
    }
    .logo-footer {
        display: inline-block;
    }
    .main-navbar-bottom {
        display: inline-block;
        margin-left: 20px;
    }
    .fr_registro {display: flex; justify-content: space-between; width: 98%;}
    .fr_registro-left, .fr_registro-rigt{flex: 1 1 50%; align-items: center;}
}